@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#page-body{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

#home{
    height: 20vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#home, #side-south{
    background-color: whitesmoke;
}

#side-north, #side-south{
    overflow: hidden;
}

#side-north{
    width: 30%;
}

#banner{
    height: 100%;
    width: 100%;
}

#side-south{
    width: 70%;
    color: #0275d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

@media screen and (max-device-width: 730px){
    #side-north{
        display: none;
    }
    #side-south{
        text-align: center;
        font-size: large;
        width: 100%;
    }
}

#central{
    overflow: hidden;
    height: 77vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

#container-input{
    height: 20%;
    border: solid 1px black;
}

#container-input button{
    cursor: pointer;
}

#container-output{
    height: 80%;
    border: solid 1px black;
}

#footer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 3vh;
    width: 100vw;
    font-size: small;
    text-align: center;
}

