@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#page-body{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 
                         "home          home" 
                         "central       central" 
                         "footer        footer"; 
}

#home{
    grid-area: home;
    
    height: 20vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#home, #side-south{
    background-color: whitesmoke;
}

#side-north, #side-south{
    overflow: hidden;
}

#side-north{
    width: 30%;
}

#banner{
    height: 100%;
    width: 100%;
}

#side-south{
    width: 70%;
    color: #0275d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

@media screen and (max-device-width: 730px){
    #side-north{
        display: none;
    }
    #side-south{
        text-align: center;
        font-size: large;
        width: 100%;
    }
}

#central{
    grid-area: central; 

    overflow: hidden;
    height: 77vh;
    width: 100vw;

}

#footer{
    grid-area: footer;

    background-color: rgba(0, 0, 0, 0.5);
    height: 3vh;
    width: 100vw;
    font-size: small;
    text-align: center;
}

