<div id="central">
    <div id="container-input">
        <input type="text" id="msg" placeholder="insert your message">
        <button id="insert">send</button>
    </div>

    <div id="container-output">
        <table>
            <thead>
                <tr>
                    <th><h2>id</h2></th>
                    <th><h2>message</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="idServe">id</td>
                    <td id="msgServe">msg</td>
                </tr>
            </tbody>
        </table>
    </div>
            
</div>
