<div id="central">
    <div id="container-input">
        <input type="text" id="msg" placeholder="insert your message">
        <button id="insert">send</button>
    </div>

    <div id="container-output">
        <table>
            <thead>
                <tr>
                    <th id="id-head">id</th>
                    <th>message</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th id="id-body">1</th>
                    <th *ngFor="let user of service"> {{user}}</th>
                </tr>
            </tbody>
        </table>

    </div>
            
</div>
